.container {
  background-color: brown;
  display: flex;

  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;

  width: 600px;
  height: 500px;
}

.item {
  background-color: bisque;
  height: 50px;
  width: 50px;
  border: black solid 2px;
}
